body {
  margin: 0;
  background-color: #3b4cca;
}

#pokeContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1440px;
}

.card img {
  height: 128px;
  width: 128px;
  padding-top: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.card p {
  font-size: 12px;
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}

.pokeball-spinner {
  width: 50px;
  height: 50px;

  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
